Babel
blinker
certifi
charset-normalizer
click
colorama
distlib
dnspython
email-validator
filelock
Flask
Flask-Admin
Flask-BabelEx
flask-change-password
Flask-Login
Flask-Mail
Flask-Principal
Flask-Security
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
infinity
intervals
itsdangerous
Jinja2
MarkupSafe
passlib
Pillow
platformdirs
requests
six
speaklater
SQLAlchemy
typing_extensions
urllib3
validators
virtualenv
Werkzeug
WTForms
WTForms-Components
gunicorn